form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.maindoc{
border:solid 1px black;
border-style: double;
border-radius: 20px;
width: 500px;
background-color: lightgreen;
overflow-y: scroll;
height: 500px;
}
.phonedoc{
width: 100px;
}
.langdoc{
width: 100px;
}
.bordered{
    margin: 10px;
    border:solid 1px black;
border-style: double;
border-radius: 20px;
background-color: lightblue;
}
.bordered:nth-of-type(2n){
background-color: lightpink;
}
#distance{
width: 50px;
}
.form-group{
height: 200px;
width: 1000px;

}
#docform{
    width: 1000px;
    clear: both;
}

